body{
    width: 100%;
    height: 100vh;
    background-image: url(https://acegif.com/wp-content/gif/outerspace-58.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    section{
        background: rgb(63,94,251);
        background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        width: 35%;
        padding: 30px;

        h2{
            font-size: 2.5rem;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
        }
        
        form{
            font-size: 1.5rem;
            margin-left: 30px;

            div{
                margin: 10px 0px;
                
                label{ 
                    margin-right: 15px;
                }
                input{
                    height: 20px;
                    width: 40%;
                
                }

                button{
                    padding: 10px 15px;
                    margin-top: 20px;
                    font-size: 1.2rem;
                    background-color: #bbcad9;
                    border: none;
                    display: inline-block;
                    border-radius: 20px;
                    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -1px -2px 15px 5px rgba(0,0,0,0); 
                    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -1px -2px 15px 5px rgba(0,0,0,0);

                    .bin{
                        width: 20px;
                    }

                    &:hover{
                        transform: scale(1.2);
                    }
                }

                

            }

            .botones{
                display: inline-block;
                margin-right: 20px;
                
            }
        }
    }
}

@media screen and(max-width: 900px){

    body{
        width: 100%;
        height: 100vh;
        background-image: url(https://acegif.com/wp-content/gif/outerspace-58.gif);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    
        section{
            background: rgb(63,94,251);
            background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
            width: 60%;
            padding: 30px;
            h2{
                font-size: 2rem;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
            }

            form{
                font-size: 1.2rem;
                margin-left: 10px;
                div{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;

                    input{
                        height: 20px;
                        width: 40%;
                        min-width: 200px;
                    }
                }
            }

        }
    }
}