main{
    width: 100%;
    height: auto;
    background-image: url(../../../assets/images/concierto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;

    .nosotros{
        background-color: rgba(0, 0, 0, 0.800);
        margin: 20px 100px;
        padding: 20px 40px;

        h2{
            color: white;
            display: flex;
            justify-content: center;
            font-size: 3rem;
            margin: 20px;
        
        }

        p{
            color: whitesmoke;
            font-size: 1.3rem;
            margin-bottom: 20px;
        }
    }

    .partners{
        background-color: rgba(0, 0, 0, 0.800);
        margin: 20px 100px;
        padding: 20px 40px;

        h2{
            color: whitesmoke;
            display: flex;
            justify-content: center;
            margin: 20px;
            font-size: 2rem;
          }

          p{
            color: whitesmoke;
          }

        ul{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;


            li{
                .imgGrande{
                    width: 110px;


                }

                .imgPeq{
                    width: 200px;

                }

                .imgEnana{
                    width: 300px;

                }
            }
        }


    }
}