<main>
    <section class="nosotros">
        <h2>Nosotros</h2>
        <p>Esta web ha sido desarrollada en equipo por miembros de Upgrade hub utilizando Angular y Lazy Loading. </p>
        <p>En la web vemos información sobre festivales y conciertos, y esa información puede ser editada, borrada o añadida dentro de la sección FORM. Además, hay un filtro de temáticas/festivales para poder viualizar únicamente la información seleccionada. </p>
    </section>

    <section class="partners">
    <h2>Nuestros partners</h2>
       <ul>
        <li>
            <img src="../../../assets/images/cider.png" alt="The Good Cider" class="imgGrande">
        </li>
        <li>
            <img src="../../../assets/images/mahou.png" alt="Mahou" class="imgPeq">
        </li>

        <li>
            <img src="../../../assets/images/Pepsico.png" alt="Pepsico" class="imgEnana">
        </li>
        <li>
            <img src="../../../assets/images/Heineken.png" alt="Heineken" class="imgPeq">
        </li>
        <li>
            <img src="../../../assets/images/lavirgen.png" alt="La Virgen" class="imgGrande">
        </li>

    </ul>
    </section>
</main>