.shows {
  display: flex;
  flex-direction: column;
  place-content: center, center;

  &_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: rgb(187, 202, 218);
    background: linear-gradient(
      180deg,
      rgba(187, 202, 218, 1) 0%,
      rgba(230, 221, 197, 1) 100%
    );
  }
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 3% 40% 3%;
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}
