<section class="shows">
    <div class="upperbar">
    <h2>Shows</h2>
    <button class="button-36 above" role="button" (click)="filtrar('All')">All</button>
    <button class="button-36 above" role="button" (click)="filtrar('Techno')">Techno</button>
    <button class="button-36 above" role="button" (click)="filtrar('Alternative')">Alternative</button>
    <button class="button-36 above" role="button" (click)="filtrar('Reggaeton')">Reggaetone</button>
    </div>
    <article class="shows_gallery">
        <figure class="shows_gallery_inside" *ngFor="let show of showsFiltrados">
            <h3>{{show.artists}}</h3>
            <img src="{{show.photo}}" alt="{{show.artists}}">
            <div class="info">
            <p>{{show.genre}}</p>
            <p>{{show.title}}</p>
            <p>{{show.date}}</p>
            <p>{{show.location}}</p>
            <p>{{show.link}}</p>
            <button class="button-36" role="button" (click)="editShow(show)">Edit</button>
        </div>
        </figure>
    </article>
</section> 