.shows {
  display: flex;
  flex-direction: column;
  place-content: center, center;

  &_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }