

.shows {
  display: flex;
  flex-direction: column;
  place-content: center, center;
  padding-top: 60px;
  padding-bottom: 70px;
  padding-left: 10px;
  font-size: 20px;
  
  background: linear-gradient(
    180deg,
    rgb(141, 179, 205) 0%,
    rgb(222, 138, 205) 100%
    );

    .upperbar{
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      
    }
    
    h3{
      position: sticky ;
      top: 70px;
      left: 20px;
      color: #5643CC;
      background-color: rgb(163, 188, 215);
      border: solid;
      border-radius: 3%;
      width: fit-content;
      padding: 0 10px;
     
    }
  &_gallery {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    &_inside{
      margin-bottom: 30px;

    }
  }
   .info{
     
    border: solid 5px rgba(63, 94, 251, 1);
    border:  linear-gradient(
      180deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
    
    border-radius: 5px;
    p{
      border-left: 100px;
    }
    
    
  }
  
  img {
    height: auto;
    min-width: 95vw;
    width: 95vw;
    max-height: 500px;
    max-width: fit-content;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 3% 40% ;
  }


.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  width: 300px;
  margin: 5px;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.above{
 width: 20vw;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
  }



@media screen and (min-width: 820px) {
  .shows{

    img {
      height: 500px;
      margin-bottom: 10px;
      min-width: 790px;
      width: 790px;
      max-height: 500px;
      max-width: fit-content;
      object-fit: cover;
      
      border-radius: 3% 20% ;
    }
  }
}

@media screen and (min-width: 1589px) {
  .shows{

    img {
      
      border-radius: 3%  ;
    }
  }
}

@media screen and (max-width: 720px) {

  .upperbar{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 0.8%;
    
  }
  .above{
    width: 25vw;
  
   }
}

@media screen and (max-width: 586px) {

  .upperbar{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 0.8%;
    
  }
  .above{
    width: 25vw;
  
   }
}