* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
}

header {
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  width: 100%;
  height: 40px;
  position: fixed;
  display: flex;
  align-items: center;

  nav {
    width: 100%;  

    ul {

      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.3rem;

      li {
        &:hover {
          font-weight: 900;
          transform: scale(1.2);
          transition: all 0.2s;
          background-image: url(https://i.pinimg.com/originals/31/95/fb/3195fbe65ee58b292955a6e14840132a.gif);


        }
      }
    }
  }
}

@media screen and(max-width: 810px) {
  header {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      90deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    place-content: center, space-between;
    align-items: center;
    position: fixed;

    nav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 1rem;

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 50px;

        li {
          margin: 0px 5px 0px 0px;
          
          
        }
      }
    }
  }
}
