<footer>
    <section>
        <p>COPYRIGHT © 2022</p>
        <p>Contacto: info@festivales.com</p>
    </section>

    <ul>
        <li>
            <a href="https://www.facebook.com/" target="_blank">
            <img src="../../../assets/images/facebook.png" alt="Facebook icon">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../../../assets/images/instagram.png" alt="Instagram icon">
            </a>

        </li>
        <li>
            <a href="https://twitter.com/" target="_blank">
                <img src="../../../assets/images/gorjeo.png" alt="Twitter icon">
            </a>

        </li>
    </ul>

</footer>

