main {
  background-image: url(https://cdn.wallpapersafari.com/51/25/Thb90p.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center center;
  margin-bottom: 40px;
}

.secLogo {
  display: flex;
  justify-content: center;
}
.logoEvents {
  width: auto;
  height: auto;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  //   margin: 25px 0% 40px 0% ;
  padding: 15px 0% 15px 0%;
}

h1 {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 2rem;
}
h2 {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 1rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section:not(.secLogo) {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px 100px;
  padding: 20px 40px;
}
.portraitNews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% 2% 6% 2%;
  border: solid black;
  border-radius: 15%;
  width: 75%;
  height: 20em;
  object-fit: cover;
  background-color: rgba(245, 245, 245, 0.621);
}

p {
  color: whitesmoke;
}

@media screen and(max-width: 920px) {
  main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

    section:not(.secLogo) {
      background-color: rgba(0, 0, 0, 0.8);
      margin: 20px 50px;
      padding: 20px 40px;

      h2 {
        color: white;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin: 20px;
      }

      p {
        color: whitesmoke;
        font-size: 1rem;
        margin-bottom: 20px;
      }
    }
  }
}
