<main>
  <section class="secLogo">
    <img
      src="https://i.ibb.co/rH6k5wW/Boutique-logotype-feminine-Logo-fashion-Neon-1.png"
      class="logoEvents"
    />
  </section>
  <section>
    <h1>NEWS</h1>
    <p>
      Aquí podrás ver algunas noticias sobre los festivales y eventos más
      relevantes de este año como MadCool Festival o Tomorrowland, además de
      información sobre algunos artistas populares que se encuentran en esta
      página web y futuras fechas de sus tours.
    </p>
  </section>
  <section>
    <article>
      <h2>Mad Cool Festival Finalise 2022 Lineup</h2>
      <a
        href="https://www.festicket.com/magazine/news/mad-cool-festival-finalise-2022-lineup/"
        target="_blank"
        ><img
          src="https://media.resources.festicket.com/image/646x236/smart/filters:quality(70)/www/magazine/IncubusMadCool_B.jpg"
          alt="portraitNewMadCool"
          class="portraitNews"
        />
      </a>
      <p>
        Se anunció la última ola de actos para Mad Cool Festival 2022, con los
        favoritos de rock alternativo californiano Incubus liderando el anuncio
        final, encabezando el festival el viernes 8 de julio junto a Muse y
        alt-J. Click en la foto para ir a la noticia!
      </p>
    </article>
    <article>
      <h2>Tomorrowland 2022 Launches Extra Worldwide Ticket Sale</h2>
      <a
        href="https://www.festicket.com/magazine/news/tomorrowland-2022-launches-extra-worldwide-ticket-sale-tonigh/"
        target="_blank"
        ><img
          src="https://media.resources.festicket.com/image/646x236/smart/filters:quality(70)/www/magazine/Tomorrowland2022FinalTicketsHero.jpg"
          alt="portraitNewTomorrowland"
          class="portraitNews"
        />
      </a>
      <p>
        El festival de música más grande del mundo, Tomorrowland, ha revelado
        que todavía hay una oportunidad de estar en su tan esperado regreso este
        julio. A las 19:00 CEST/18:00 BST del 7 de junio de 2022, un lote de
        entradas devueltas saldrá a la venta en todo el mundo por última vez, lo
        que significa que podrías unirte a 600 000 compañeros ravers en Boom,
        Bélgica. Click en la foto para ir a la noticia!
      </p>
    </article>
    <article>
      <h2>The Kooks and Peking Duk to Headline Grapevine Gathering 2022</h2>
      <a
        href="https://www.festicket.com/magazine/news/the-kooks-and-peking-duk-to-headline-grapevine-gathering-2022/"
        target="_blank"
        ><img
          src="https://media.resources.festicket.com/image/1490x543/smart/filters:quality(70)/www/magazine/GrapevineGatheringVIC_V2_Iimywp6.jpeg"
          alt="portraitNewTomorrowland"
          class="portraitNews"
        />
      </a>
      <p>
        El amado festival de música australiano Grapevine Gathering ha anunciado
        los primeros nombres para la serie de eventos de 2022, incluidos los
        artistas principales The Kooks y Peking Duk. Los cinco festivales, que
        se llevan a cabo en todo el país en la primera quincena de octubre,
        combinan una alineación de talento musical con vinos locales y ofertas
        gastronómicas, y cada evento se lleva a cabo en un viñedo en su región
        respectiva. Click en la foto para ir a la noticia!
      </p>
    </article>
  </section>
</main>
