main {
  
  background-image: url(https://cdn.wallpapersafari.com/51/25/Thb90p.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  place-content: center center;
  flex-wrap: wrap;
}

.logoEvents {
  width: 50vw;
  height: auto;
  display: flex;
  // margin: 0% 0% 0% 25% //
  padding: 15% 0% 15% 0%;
  border-radius: 25% 50% 25% 50%;
}

p {
  color: white;
}
