<main>
  <section>
    <img
      src="https://i.ibb.co/mDpWQtj/Boutique-logotype-feminine-Logo-fashion-Neon.png"
      alt="logoEvents"
      class="logoEvents"
    />
    <h1>NEWS</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias architecto
      dolorum saepe repellendus sed dolores non ipsa, culpa, sunt ea dolor minus
      assumenda odit repellat at cupiditate ab? Velit, est.
    </p>
  </section>
  <section>
    <article>
      <h2>Mad Cool Festival Finalise 2022 Lineup</h2>
      <a
        href="https://www.festicket.com/magazine/news/mad-cool-festival-finalise-2022-lineup/" target="_blank"
        ><img
          src="https://media.resources.festicket.com/image/646x236/smart/filters:quality(70)/www/magazine/IncubusMadCool_B.jpg"
          alt="portraitNewMadCool"
          class="portraitNews"
        />
      </a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ullam
        pariatur deserunt modi aliquam amet veritatis nisi autem tenetur. Atque
        nesciunt quam hic voluptatibus dolorem, neque unde voluptates expedita
        quo!
      </p>
    </article>
    <article>
      <h2>Tomorrowland 2022 Launches Extra Worldwide Ticket Sale</h2>
      <a
        href="https://www.festicket.com/magazine/news/tomorrowland-2022-launches-extra-worldwide-ticket-sale-tonigh/" target="_blank"
        ><img
          src="https://media.resources.festicket.com/image/646x236/smart/filters:quality(70)/www/magazine/Tomorrowland2022FinalTicketsHero.jpg"
          alt="portraitNewTomorrowland"
          class="portraitNews"
        />
      </a>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
        dolorem perspiciatis tempora nulla dolore voluptatibus quos, ad ut
        officia aut quibusdam deleniti veritatis rem exercitationem dignissimos
        consequatur quia molestiae iste!
      </p>
    </article>
    <article>
        <h2>The Kooks and Peking Duk to Headline Grapevine Gathering 2022</h2>
      <a
        href="https://www.festicket.com/magazine/news/the-kooks-and-peking-duk-to-headline-grapevine-gathering-2022/" target="_blank"
        ><img
          src="https://media.resources.festicket.com/image/1490x543/smart/filters:quality(70)/www/magazine/GrapevineGatheringVIC_V2_Iimywp6.jpeg"
          alt="portraitNewTomorrowland"
          class="portraitNews"
        />
      </a>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
        dolorem perspiciatis tempora nulla dolore voluptatibus quos, ad ut
        officia aut quibusdam deleniti veritatis rem exercitationem dignissimos
        consequatur quia molestiae iste!
    </article>
  </section>
</main>
